In [35]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split

import pandas as pd
df=pd.read_csv("EducationData.csv")
df

    gender PlaceofBirth  ... ParentschoolSatisfaction ParentAnsweringSurvey
0        M       KuwaIT  ...                     Good                   Yes
1        M       KuwaIT  ...                     Good                   Yes
2        M       KuwaIT  ...                      Bad                    No
3        M       KuwaIT  ...                      Bad                    No
4        M       KuwaIT  ...                      Bad                    No
..     ...          ...  ...                      ...                   ...
475      F       Jordan  ...                      Bad                    No
476      F       Jordan  ...                      Bad                    No
477      F       Jordan  ...                      Bad                    No
478      F       Jordan  ...                      Bad                    No
479      F       Jordan  ...                      Bad                    No

[480 rows x 13 columns]

In [37]:
x = pd.read_csv("EducationData.csv",usecols=['raisedhands','VisITedResources','AnnouncementsView','Discussion'])
y = pd.DataFrame (df['ParentAnsweringSurvey'], columns = ['ParentAnsweringSurvey'])

In [38]:
#Univariate Feature Selection
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [40]:
features= SelectKBest(chi2, k=3).fit(x_train, y_train)
booles=features.get_support()
booles

array([ True,  True,  True, False])

In [41]:
names=[]
for b,f in zip(booles,x_train.columns):
    if b:
     names.append(f)
print('The best features are:{}'.format(names))

The best features are:['raisedhands', 'VisITedResources', 'AnnouncementsView']

In [42]:
# Correlation
c = df.corr()
c

                   raisedhands  VisITedResources  AnnouncementsView  Discussion
raisedhands           1.000000          0.691572           0.643918    0.339386
VisITedResources      0.691572          1.000000           0.594500    0.243292
AnnouncementsView     0.643918          0.594500           1.000000    0.417290
Discussion            0.339386          0.243292           0.417290    1.000000

In [48]:
#Recursive feature elimination
from sklearn.feature_selection import RFE

sel = RFE(est, n_features_to_select=2, step=1)
sel = sel.fit(x_train, y_train)
booles = sel.get_support()
names = [] 
for b, f in zip(booles, x_train.columns):
     if b:
        names.append(f)
names

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

['VisITedResources', 'AnnouncementsView']

In [50]:
#Principal Component Analysis (PCA)
df=pd.read_csv("EducationData.csv",usecols=['raisedhands','VisITedResources','AnnouncementsView','Discussion'])

df

     raisedhands  VisITedResources  AnnouncementsView  Discussion
0             15                16                  2          20
1             20                20                  3          25
2             10                 7                  0          30
3             30                25                  5          35
4             40                50                 12          50
..           ...               ...                ...         ...
475            5                 4                  5           8
476           50                77                 14          28
477           55                74                 25          29
478           30                17                 14          57
479           35                14                 23          62

[480 rows x 4 columns]

In [52]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pc = pca.fit_transform(df)
pcdf = pd.DataFrame(data = pc,columns = ['principal component 1', 'principal component 2'])
pcdf

     principal component 1  principal component 2
0               -65.278268              -5.435111
1               -58.028773              -3.097619
2               -71.601161               7.579000
3               -45.357148               2.806438
4               -16.731435               5.611755
..                     ...                    ...
475             -80.509951              -9.642204
476              -0.112217             -26.141713
477               6.281013             -23.278131
478             -39.600826              26.891856
479             -32.943804              33.088220

[480 rows x 2 columns]

In [57]:
x_train.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   336.000000        336.000000         336.000000   336.00000
mean     48.247024         56.985119          39.869048    44.35119
std      31.007871         32.649789          27.495793    27.20780
min       0.000000          0.000000           0.000000     2.00000
25%      16.500000         20.750000          15.000000    21.00000
50%      50.000000         70.000000          38.000000    40.00000
75%      77.250000         85.250000          62.000000    70.00000
max     100.000000         99.000000          98.000000    98.00000

In [58]:
#VarianceThreshold
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold()
x=[[100,300,500,600,700,1000],[100,300,500,600,700,1000],[100,300,500,200,900,1000],[100,300,500,600,700,1000]]
final=selector.fit_transform(x)
final

array([[600, 700],
       [600, 700],
       [200, 900],
       [600, 700]])